<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Alunos</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center mb-4">Lista de Alunos</h1>
         <div class="mb-4 text-right">
            <a href="{% url 'cadastrar_alunos' %}" class="btn btn-success">Adicionar Novo Aluno</a>
        </div>
        <div class="row">
            {% if alunos %}
                {% for aluno in alunos %}
                    <div class="col-md-6 mb-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ aluno.nome }}</h5>
                                <p class="card-text">
                                    <strong>Endereço:</strong> {{ aluno.endereco }}<br>
                                    <strong>Cidade:</strong> {{ aluno.cidade }}<br>
                                    <strong>Email:</strong> {{ aluno.email }}<br>
                                    <strong>Curso:</strong> {{ aluno.curso }}
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="col-12">
                    <p class="text-center">Nenhum aluno encontrado.</p>
                </div>
            {% endif %}
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>